.jumbotron {
  padding-top: 4rem;
  background-color: #e2edff;
}

#certificates {
  background-color: #e2edff;
}

section {
  padding-top: 6rem;
}

.gallery-img {
  width: 100%;
}

#gallery .row > * {
  padding: 1;
}
